* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


.warna-bg {
    height: auto;
    width: 100%;
    background-color: #B6E4FB;
}


.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/*NAVBAR*/

.navbar-fixed {
    z-index: 9999;
}

nav {
    box-shadow: none;
    background: rgba(182, 228, 251, 1);
}


.nav-wrapper .brand-logo img {
    height: 64px;
}

.nav-wrapper i.material-icons {
    font-size: 36px;
}

.nav-wrapper .btn-daftar {
    border-width: 2px;
    border-color: #325278;
    border-radius: 20px;
    border-style: solid;
    background-color: #B6E4FB;
    color: #325278;
    text-transform: none;
}

.nav-wrapper .btn-daftar:hover {
    background-color: #A3CEE1;

}

nav ul a {
    font-family: 'cray';
    font-size: 2rem;
}


.btn-flat {
    font-size: 2rem !important;
}

.nav-wrapper a.beranda {
    color: #D0A76F;
    -webkit-text-stroke: 1px #3D3F73;
    text-stroke: 1px #3D3F73;
}

.nav-wrapper a.kompetisi {
    color: #5CE8D6;
    -webkit-text-stroke: 1px #3D3F73;
    text-stroke: 1px #3D3F73;
}

.nav-wrapper a.dokumentasi {
    color: #ED4D47;
    -webkit-text-stroke: 1px #3D3F73;
    text-stroke: 1px #3D3F73;
}

/*NAVBAR SELESAI*/

/* ICON BAR*/

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9999;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
    background: #3B5998;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.instagram {
    background: #E12C6F;
    color: white;
}

/* ICON BAR SELESAI*/

/*CRAYON ITU*/

#header {
    height: 100vh;
    background-image: url(../img/istana.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: bottom right;
}

#header .logo-crayon {
    width: 30vw;
    height: auto;
    margin-left: 20%;
    padding-top: 0px;
    margin-top: 25vh;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    -webkit-animation: mymove 2s infinite;
    animation: mymove 2s infinite;
}

@-webkit-keyframes mymove {
    0% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

@keyframes mymove {
    0% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(5deg);
    }
}


@keyframes glow {
    0% {
        -moz-box-shadow: 0 0 0 0 #374D7C;
        -webkit-box-shadow: 0 0 5px 5px #374D7C;
        box-shadow: 0 0 0 0 #B2FF54;
    }
    50% {
        -moz-box-shadow: 0 0 5px 5px #374D7C;
        -webkit-box-shadow: 0 0 5px 5px #374D7C;
        box-shadow: 0 0 5px 5px #374D7C;
    }
    100% {
        -moz-box-shadow: 0 0 0 0 #374D7C;
        -webkit-box-shadow: 0 0 0 0px #374D7C;
        box-shadow: 0 0 0 0 #374D7C;
    }
}

@-o-keyframes glow
/* Opera */

    {
    0% {
        -moz-box-shadow: 0 0 0 0 #374D7C;
        -webkit-box-shadow: 0 0 5px 5px #374D7C;
        box-shadow: 0 0 0 0 #374D7C;
    }
    50% {
        -moz-box-shadow: 0 0 5px 5px #374D7C;
        -webkit-box-shadow: 0 0 5px 5px #374D7C;
        box-shadow: 0 0 5px 5px #374D7C;
    }
    100% {
        -moz-box-shadow: 0 0 0 0 #374D7C;
        -webkit-box-shadow: 0 0 0 0px #374D7C;
        box-shadow: 0 0 0 0 #374D7C;
    }
}



/*HEADER SELESAI*/

/*
#header-crayon-itu img.backawan {
    position: absolute;
    top: 100vh;
    z-index: 0;
    height: 120%;
    width: 100%;
}
*/

#header img.awan-atas {
    width: 100vw;
    margin-bottom: 0;
    padding-bottom: 0;
    position: absolute;
    bottom: -65px;
    display: block;
    z-index: 0;
}

/*CRAYON ITU*/

#crayon-itu {
    background-color: white;
}

#crayon-itu h2 {
    z-index: 99999;
}

#crayon-itu .row {
    margin-bottom: 0;
}

#crayon-itu p.ganjil {
    text-align: left;
    font-size: 1.8rem;
    z-index: 5;
}

#crayon-itu p.genap {
    text-align: right;
    font-size: 1.8rem;
    z-index: 5;
}

#crayon-itu h2 {
    color: #ED4D47;
    -webkit-text-stroke: 2px #3D3F73;
    text-stroke: 2px #3D3F73;
}


#crayon-itu img.burung1 {
    position: relative;
    left: 80%;
    top: -500px;
    z-index: 0;
    width: 15%;
    height: auto;
}

#crayon-itu img.burung2 {
    position: relative;
    left: 50%;
    top: -650px;
    z-index: 0;
    width: 15%;
    height: auto;
    margin: 0px;
}

#crayon-itu img.burung3 {
    position: relative;
    left: -20%;
    top: -200px;
    z-index: 0;
    width: 15%;
    height: auto;
    margin: 0px;
}

#crayon-itu img.burung4 {
    position: relative;
    left: -20%;
    top: -350px;
    z-index: 0;
    width: 15%;
    height: auto;
}

#crayon-itu img.awan1 {
    position: relative;
    left: -40%;
    top: 0px;
    z-index: 0;
    width: 15%;
    height: auto;
}



/*CRAYON ITU SELESAI*/

/*KOMPETISI*/

#kompetisi img {
    width: auto;
    height: 435px;
}

#kompetisi img.awan-bawah {
    width: 100%;
    height: auto;
    margin-top: 0;
    padding-top: 0;
    display: block;
    z-index: 5;
}

#kompetisi h2 {
    color: #D0A76F;
    -webkit-text-stroke: 1px #3D3F73;
    text-stroke: 1px #3D3F73;
}

#kompetisi h4.kategori {
    color: #EF4E4A;
}

#kompetisi h4.side-event {
    color: #F5AC45;
}

#kompetisi h4.fasilitas {
    color: #A560A5;
}

#kompetisi .container {
    z-index: 10;
}

#kompetisi img.awan1 {
    position: relative;
    left: 80%;
    top: 100px;
    z-index: 0;
    width: 150px;
    height: auto;
}

#kompetisi img.awan2 {
    position: relative;
    left: 0%;
    top: 250px;
    z-index: 0;
    width: 120px;
    height: auto;
}

#kompetisi img.awan3 {
    position: relative;
    left: 50%;
    top: 400px;
    z-index: 0;
    width: 100px;
    height: auto;
}

#kompetisi img.burung1 {
    position: relative;
    left: 25%;
    top: 400px;
    z-index: 0;
    width: 120px;
    height: auto;
}


/*KOMPETISI SELESAI*/

/*JADWAL*/

#jadwal {
    font-family: 'cray';
}

#jadwal h2 {
    color: #47EDCF;
    -webkit-text-stroke: 2px #4299A0;
    text-stroke: 2px #4299A0;
}

/*JADWAL SELESAI*/

/*CARA DAFTAR*/

#cara-daftar {
    font-family: 'cray';
}

#cara-daftar h2 {
    color: #ED4D47;
    -webkit-text-stroke: 2px #3D3F73;
    text-stroke: 2px #3D3F73;
}

#cara-daftar .card-panel {
    border-radius: 10px;
}

/*CARA DAFTAR SELESAI*/

/*VIDEO*/

#video {
    font-family: 'cray';
}

#video h2 {
    color: #D0A76F;
    -webkit-text-stroke: 1px #3D3F73;
    text-stroke: 1px #3D3F73;
}

/*VIDEO SELESAI*/

/*DOKUMENTASI*/

#dokumentasi {
    font-family: 'cray';
}

#dokumentasi h2 {
    color: #47EDCF;
    -webkit-text-stroke: 2px #4299A0;
    text-stroke: 2px #4299A0;
}

#dokumentasi img {
    height: auto;
    width: 100%;
    color: gray;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#dokumentasi img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);

}

#dokumentasi .row {
    margin: 0;
}

#dokumentasi .col {
    padding: 0;
    margin-top: -0.76rem;
}

#dokumentasi img.crop-atas {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    display: block;
    z-index: 5;
}

/*DOKUMENTASI SELESAI*/

/*SPONSOR*/

#sponsor h2 {
    width: 100%;
    height: auto;
    color: #ED4D47;
    -webkit-text-stroke: 2px #3D3F73;
    text-stroke: 2px #3D3F73;
}

#sponsor {
    height: 50vh;
}

/*SPONSOR SELESAI*/

/*REGISTER*/

#register img.crop-bawah {
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    display: block;
    z-index: 5;
}

#register {
    height: 120vh;
    background-image: url(../img/gunung.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 0;
    margin: 0;
    padding: 0;
}

h2 {
    margin-top: 0;
}

h1 {
    margin-top: 0;
}

.langsung-saja {
    margin-left: 10%;
    font-family: 'cray';
    font-variant: inherit;
    color: #ED4D47;
    -webkit-text-stroke: 2px #3D3F73;
    text-stroke: 2px #3D3F73;

}

.contact {
    margin-left: 20%;
}

#register .btn-daftar {
    margin-top: 40px;
    color: white;
    text-transform: none;
    font-size: 2rem !important;
}

/*REGISTER SELESAI*/

.s {
    font-family: 'Permanent Marker';
}


@font-face {
    font-family: cray;
    src: url(font.ttf);
}

.fnt {
    font-family: 'cray';
    font-size: 30px;
}



/* Responsive Web Mobile*/

@media screen and (max-width: 600px) {

    /*Header*/
    #header {
        width: 100%;
        height: 100vh;
        background-image: url(../img/istana.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: bottom;
    }


    #header img.logo-crayon {
        width: 70vw;
        height: auto;
        padding-top: 0px;
        margin-top: 25vh;
        margin-left: 15vw;
    }


    /*Header Selesai*/
    .icon-bar {
        right: 0%;
    }
    .icon-bar a {
        padding: 10px;
    }
    /*CRAYON ITU*/
    #crayon-itu h2 {
        z-index: 99999;
    }

    #crayon-itu .ganjil {
        text-align: justify !important;
        font-size: 1rem;
    }

    #crayon-itu .genap {
        text-align: justify !important;
        font-size: 1rem;
    }
    /*    Crayon-itu SELESAI*/
    /*    Dokumentasi*/
    .disable-m {
        display: none;
    }
    /*    Dokumentasi SELESAI*/
    .side-nav {
        width: 60%;
    }

    #kompetisi img.awan1 {
        position: relative;
        left: 60vw;
        top: 0vh;
        z-index: 0;
        width: 30vw;
        height: auto;
    }

    #kompetisi img.awan2 {
        position: relative;
        left: -30vw;
        top: 40vh;
        z-index: 0;
        width: 30vw;
        height: auto;
    }

    #kompetisi img.awan3 {
        position: relative;
        left: 0vw;
        top: 100vh;
        z-index: 0;
        width: 25vw;
        height: auto;
    }

    #kompetisi img.burung1 {
        position: relative;
        left: 55vw;
        top: 50vh;
        z-index: 0;
        width: 30vw;
        height: auto;
    }


    #register {
        height: 100vh;
        background-image: url(../img/gunung.png);
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: bottom right;
        margin-bottom: 0;
        margin-top: 50vh;
        padding: 0;
    }


    #register .langsung-saja {
        margin-left: 0;
        text-align: center;
        font-family: 'cray';
        font-variant: inherit;
        color: #ED4D47;
        -webkit-text-stroke: 2px #3D3F73;
        text-stroke: 2px #3D3F73;

    }
    .langsung-saja h1 {
        font-size: 3.4rem;
    }

    #register .container {
        margin-top: 15vh;
    }

    #register .contact {
        margin-left: 0;
        text-align: center;
        font-size: 1.6rem;
    }

    #register .btn-daftar {
        text-align: center;
        margin-top: 40px;
        color: white;
        text-transform: none;
        font-size: 1.6rem !important;
    }



}

/*Responsive mobile selesai*/
