* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


.warna-bg {
    height: auto;
    width: 100%;
    background-color: #B6E4FB;
}


.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/*NAVBAR*/

.navbar-fixed {
    z-index: 9999;
}

nav {
    box-shadow: none;
    background: rgba(182, 228, 251, 1);
}


.nav-wrapper .brand-logo img {
    height: 64px;
}

.nav-wrapper i.material-icons {
    font-size: 36px;
}

.nav-wrapper .btn-daftar {
    border-width: 2px;
    border-color: #325278;
    border-radius: 20px;
    border-style: solid;
    background-color: #B6E4FB;
    color: #325278;
    text-transform: none;
}

.nav-wrapper .btn-daftar:hover {
    background-color: #A3CEE1;

}

nav ul a {
    font-family: 'cray';
    font-size: 2rem;
}


.btn-flat {
    font-size: 2rem !important;
}

.nav-wrapper a.beranda {
    color: #D0A76F;
    -webkit-text-stroke: 1px #3D3F73;
    text-stroke: 1px #3D3F73;
}

.nav-wrapper a.kompetisi {
    color: #5CE8D6;
    -webkit-text-stroke: 1px #3D3F73;
    text-stroke: 1px #3D3F73;
}

.nav-wrapper a.dokumentasi {
    color: #ED4D47;
    -webkit-text-stroke: 1px #3D3F73;
    text-stroke: 1px #3D3F73;
}

/*NAVBAR SELESAI*/

/*CRAYON ITU*/

#header {
    height: 100vh;
    background-image: url(../images/istana.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: bottom right;
}

#header .logo-crayon {
    width: 30%;
    height: auto;
    margin-left: 20%;
    padding-top: 0px;
    margin-top: 80px;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    -webkit-animation: mymove 2s infinite;
    animation: mymove 2s infinite;
}

@-webkit-keyframes mymove {
    0% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

@keyframes mymove {
    0% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(5deg);
    }
}


#header img.btn-down {
    width: 50px;
    animation: glow 3s;
    -moz-animation: glow 3s;
    /* Firefox */
    -webkit-animation: glow 3s;
    /* Safari and Chrome */
    -o-animation: demo 3s;
    /* Opera */
    animation: glow 3s infinite;
    margin-top: 150px;
    border-radius: 50%;

}

@keyframes glow {
    0% {
        -moz-box-shadow: 0 0 0 0 #374D7C;
        -webkit-box-shadow: 0 0 5px 5px #374D7C;
        box-shadow: 0 0 0 0 #B2FF54;
    }
    50% {
        -moz-box-shadow: 0 0 5px 5px #374D7C;
        -webkit-box-shadow: 0 0 5px 5px #374D7C;
        box-shadow: 0 0 5px 5px #374D7C;
    }
    100% {
        -moz-box-shadow: 0 0 0 0 #374D7C;
        -webkit-box-shadow: 0 0 0 0px #374D7C;
        box-shadow: 0 0 0 0 #374D7C;
    }
}

@-o-keyframes glow
/* Opera */

    {
    0% {
        -moz-box-shadow: 0 0 0 0 #374D7C;
        -webkit-box-shadow: 0 0 5px 5px #374D7C;
        box-shadow: 0 0 0 0 #374D7C;
    }
    50% {
        -moz-box-shadow: 0 0 5px 5px #374D7C;
        -webkit-box-shadow: 0 0 5px 5px #374D7C;
        box-shadow: 0 0 5px 5px #374D7C;
    }
    100% {
        -moz-box-shadow: 0 0 0 0 #374D7C;
        -webkit-box-shadow: 0 0 0 0px #374D7C;
        box-shadow: 0 0 0 0 #374D7C;
    }
}



/*HEADER SELESAI*/

#header-crayon-itu img.backawan {
    position: absolute;
    top: 100vh;
    z-index: 0;
    height: 120%;
    width: 100%;
}


/*CRAYON ITU*/

#crayon-itu h2 {
    z-index: 99999;
}

#crayon-itu p.ganjil {
    text-align: left;
    font-size: 30px;
    z-index: 5;
}

#crayon-itu p.genap {
    text-align: right;
    font-size: 30px;
    z-index: 5;
}

#crayon-itu .container {}

#crayon-itu h2 {
    color: #ED4D47;
    -webkit-text-stroke: 2px #3D3F73;
    text-stroke: 2px #3D3F73;
}


#crayon-itu img.burung1 {
    position: relative;
    left: 80%;
    top: -500px;
    z-index: 0;
    width: 15%;
    height: auto;
}

#crayon-itu img.burung2 {
    position: relative;
    left: 50%;
    top: -650px;
    z-index: 0;
    width: 15%;
    height: auto;
    margin: 0px;
}

#crayon-itu img.burung3 {
    position: relative;
    left: -20%;
    top: -200px;
    z-index: 0;
    width: 15%;
    height: auto;
    margin: 0px;
}

#crayon-itu img.burung4 {
    position: relative;
    left: -20%;
    top: -350px;
    z-index: 0;
    width: 15%;
    height: auto;
}

#crayon-itu img.awan1 {
    position: relative;
    left: -40%;
    top: 0px;
    z-index: 0;
    width: 15%;
    height: auto;
}



/*CRAYON ITU SELESAI*/

/*KOMPETISI*/

#kompetisi img {
    width: auto;
    height: 435px;
}

#kompetisi h2 {
    color: #D0A76F;
    -webkit-text-stroke: 1px #3D3F73;
    text-stroke: 1px #3D3F73;
}

#kompetisi h4.kategori {
    color: #EF4E4A;
}

#kompetisi h4.side-event {
    color: #F5AC45;
}

#kompetisi h4.fasilitas {
    color: #A560A5;
}

#kompetisi .container {
    z-index: 10;
}

#kompetisi img.awan1 {
    position: relative;
    left: 80%;
    top: 100px;
    z-index: 0;
    width: 150px;
    height: auto;
}

#kompetisi img.awan2 {
    position: relative;
    left: 0%;
    top: 250px;
    z-index: 0;
    width: 120px;
    height: auto;
}

#kompetisi img.awan3 {
    position: relative;
    left: 50%;
    top: 400px;
    z-index: 0;
    width: 100px;
    height: auto;
}

#kompetisi img.burung1 {
    position: relative;
    left: 25%;
    top: 400px;
    z-index: 0;
    width: 120px;
    height: auto;
}


/*KOMPETISI SELESAI*/

/*JADWAL*/

#jadwal {
    font-family: 'cray';
}

#jadwal h2 {
    color: #47EDCF;
    -webkit-text-stroke: 2px #4299A0;
    text-stroke: 2px #4299A0;
}

/*JADWAL SELESAI*/

/*CARA DAFTAR*/

#cara-daftar {
    font-family: 'cray';
}

#cara-daftar h2 {
    color: #ED4D47;
    -webkit-text-stroke: 2px #3D3F73;
    text-stroke: 2px #3D3F73;
}

#cara-daftar .card-panel {
    border-radius: 10px;
}

/*CARA DAFTAR SELESAI*/

/*VIDEO*/

#video {
    font-family: 'cray';
}

#video h2 {
    color: #D0A76F;
    -webkit-text-stroke: 1px #3D3F73;
    text-stroke: 1px #3D3F73;
}

/*VIDEO SELESAI*/

/*DOKUMENTASI*/

#dokumentasi {
    font-family: 'cray';
}

#dokumentasi h2 {
    color: #47EDCF;
    -webkit-text-stroke: 2px #4299A0;
    text-stroke: 2px #4299A0;
}

#dokumentasi img {
    height: auto;
    width: 100%;
    color: gray;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#dokumentasi img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);

}

#dokumentasi .row {
    margin: 0;
}

#dokumentasi .col {
    padding: 0;
    margin-top: -0.76rem;
}

/*DOKUMENTASI SELESAI*/

/*SPONSOR*/

#sponsor h2 {
    width: 100%;
    height: auto;
    color: #ED4D47;
    -webkit-text-stroke: 2px #3D3F73;
    text-stroke: 2px #3D3F73;
}

#sponsor {
    height: 70vh;
}

/*SPONSOR SELESAI*/

/*REGISTER*/

#register {
    height: 90vh;
    background-image: url(../images/gunung.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 0;
    margin: 0;
    padding: 0;
}

h2 {
    margin-top: 0;
}

h1 {
    margin-top: 0;
}

.langsung-saja {
    margin-left: 80px;
    font-family: 'cray';
    font-variant: inherit;
    color: #ED4D47;
    -webkit-text-stroke: 2px #3D3F73;
    text-stroke: 2px #3D3F73;

}

.contact {
    margin-left: 20%;
}

#register .btn-daftar {
    margin-top: 40px;
    color: white;
    text-transform: none;
    font-size: 2rem !important;
}

/*REGISTER SELESAI*/

.s {
    font-family: 'Permanent Marker';
}


@font-face {
    font-family: cray;
    src: url(font.ttf);
}

.fnt {
    font-family: 'cray';
    font-size: 30px;
}



/* Responsive Web Mobile*/

@media screen and (max-width: 992px) {
    /*Header*/
    #header {
        width: 100%;
        height: 100vh;
        background-image: url(../images/istana.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: bottom;
    }


    #header img.logo-crayon {
        width: 50%;
        height: auto;
        padding-top: 0px;
        margin-top: 50px;
        margin-left: 25%;
    }
    #header-crayon-itu img.backawan {
        position: absolute;
        top: 100vh;
        z-index: 0;
        height: 70%;
        width: 100%;
        /* BELUM FIXXXX*/
    }
    /*Header Selesai*/
    /*CRAYON ITU*/
    #crayon-itu h2 {
        z-index: 99999;
    }

    #crayon-itu .ganjil {
        text-align: justify;
        font-size: 1rem;
    }

    #crayon-itu .genap {
        text-align: justify;
        font-size: 1rem;
    }
    /*    Crayon-itu SELESAI*/
    /*    Dokumentasi*/
    .disable-m {
        display: none;
    }
    /*    Dokumentasi SELESAI*/
}

/*Responsive mobile selesai*/
